@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@font-face {
  font-family: 'TamaConnectType';
  src: url('../assets/fonts/tamaconnecttype.woff2') format('woff2'),
       url('../assets/fonts/tamaconnecttype.woff') format('woff'),
       url('../assets/fonts/tamaconnecttype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #050014, #0a0020, #10002b, #150037, #1b0042, #20004d, #260059, #2b0064);
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
}

code {
  font-family: 'TamaConnectType', sans-serif;
}

h1, h2 {
  font-family: 'TamaConnectType', sans-serif;
}


.builtOnHederaSVG  {
  height: 60px;
  width: auto;
}

.footer {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: auto;
  background-color:  #222222;
}

.hbarLogoImg {
  width: 200px;
  height: auto;
}

.walletLogoImage {
  width: 30px;
  height: auto;
}